<ion-header>
  <ion-toolbar>
    <ion-title>time-table</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row nowrap class="forecast_container">
      <ion-col>
        <div>
          <h4 class="th">Monday </h4>
        </div>

        <ion-row *ngFor="let d of monday" >
          <div (click)="presentAlert(d)" class="timeTable">
            {{d.time}}
          </div>
          <div>
            {{d.Subject}}
          </div>
          <br><br><br>
        </ion-row>

      </ion-col>
      <ion-col>
        <div>
          <h4 class="th">Tuesday </h4>
        </div>

        <ion-row *ngFor="let d of tuesday">
          <div>
            {{d.time}}
          </div>
          <div>
            {{d.Subject}}
          </div>
          <br><br><br>
        </ion-row>
      </ion-col>
      <ion-col>
        <div>
          <h4 class="th">Wednesday </h4>
        </div>

        <ion-row *ngFor="let d of wednesday">
          <div>
            {{d.time}}
          </div>
          <div>
            {{d.Subject}}
          </div>
          <br><br><br>
        </ion-row>
      </ion-col>
      <ion-col>
        <div>
          <h4 class="th">Thursday </h4>
        </div>

        <ion-row *ngFor="let d of thursday">
          <div>
            {{d.time}}
          </div>
          <div>
            {{d.Subject}}
          </div>
          <br><br><br>
        </ion-row>
      </ion-col>
      <ion-col>
        <div>
          <h4 class="th">Friday </h4>
        </div>

        <ion-row *ngFor="let d of friday">
          <div>
            {{d.time}}
          </div>
          <div>
            {{d.Subject}}
          </div>
          <br><br><br>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>