<ion-header>
  <ion-toolbar>
    <ion-title>complain-box</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="complain" (ngSubmit)="logForm()">
    <ion-item>
      <ion-label> Name:</ion-label>
      <ion-input type="text" formControlName="Name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-textarea formControlName="Email"></ion-textarea>
    </ion-item>
    
    <ion-item>
      <ion-label>MobileNo</ion-label>
      <ion-textarea formControlName="MobileNo"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Message</ion-label>
      <ion-textarea formControlName="Message"></ion-textarea>
    </ion-item>
   
    <ion-button ion-button type="submit" [disabled]="!complain.valid">Submit</ion-button>
  </form>

</ion-content>
